# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Environment
.env
.env.local

# Metro
.metro-health-check*

# Misc
.DS_Store
*.pem

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
